table {
    width: 100%;
    border: 1px solid;
}
th, td {
    border: 1px solid;
}

a {
    color: inherit;
}

.menu-wrapper {
    padding-left: 0;
}

.menu-items{
    color: #2979FF;
    text-decoration-line: underline;
    text-align: left;
    list-style-type: none;
    vertical-align: top;
}

.menu-items-subitems{
    color: #2979FF;
    text-decoration-line: underline;
    text-align: left;
    list-style-type: none;
}

.list-link{
    color: #2979FF;
    text-decoration-line: none;
}