table {
    width: 100%;
    border: 1px solid;
}
th {
    border: 1px solid;
    text-align: center;
    /*vertical-align: top;*/
}

td {
    border: 1px solid;
    text-align: center;
}

/*.device-type{*/
/*    text-align: left;*/
/*}*/

li{
    text-align: left;
}
